{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Редактирование страны
    {% else %}
        Создание новой страны
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1>
                {% if form.instance.pk %}
                    Редактирование страны
                {% else %}
                    Создание новой страны
                {% endif %}
            </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{% url 'country_list' %}" class="btn btn-secondary">Отменить</a>
            </form>
        </div>
    </div>
{% endblock %}
