{% extends 'base.html' %}

{% block title %}Список монет{% endblock %}

{% block content %}
    <h1>Список монет</h1>
    
    <!-- Форма фильтрации -->
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
    </form>

    <ul class="list-group mt-4">
        {% for coin in coins %}
            <li class="list-group-item">
                <h5><a href="{% url 'coin_detail' coin.id %}">{{ coin.name }}</a></h5>
                <p>{{ coin.country.name }}</p>
                <span class="badge bg-secondary">{{ coin.price }} $</span>
            </li>
        {% empty %}
            <p>Нет монет для отображения.</p>
        {% endfor %}
    </ul>
{% endblock %}
