{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Редактирование страны
    {% else %}
        Создание новой записи о стране
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.instance.pk %}
            Редактирование страны
        {% else %}
            Создание новой записи о стране
        {% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
    <a href="{% url 'coin_list' %}" class="btn btn-secondary">Отменить</a>
{% endblock %}
